.fade {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: var(--gradient-fade-down);

  &.top {
    top: 0;
    bottom: auto;
    background: var(--gradient-fade-up);
  }
}
